body{
    background-color: #00224D;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    width: 100%;
    position: relative;
    z-index: -2;
}

#topbar{
    display:flex;
    align-items: center;
    color: white;
    background: linear-gradient(180deg, #FF204E, #00224D);
    height: 100px;
    padding: 0 20px; 
    position: static;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0 20px;
    opacity: 0;
    animation: fadeDown 4s forwards;
    font-family:'Poppins', sans-serif;
    z-index:100;
    text-align: center;
}
@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

#profile {
    width: 400px;
    position: absolute;
    top: 100px;
    left: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-family: 'Poppins', sans-serif;
    z-index: 10;
    animation: fadeDown 2s forwards;
}

#profile-photo {
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    margin-right: 20px;
    object-fit: cover; 
    /* animation: fadeDown 2s forwards; */
}

#profile-content {
    display: flex;
    flex-direction: column;
}

#username {
    position: absolute;
    top:15px;
    font-size: 24px;
    font-weight: 600;
    animation: fadeDown 2s forwards;
}

#profile a {
    position: absolute;
    top:80px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    /* animation: fadeDown 2s forwards; */
}

#b1 {
    width: 150px;
    position: absolute;
    left:500px;
    font-family: 'Poppins', sans-serif;
    background-color: #A0153E;
    color: white;
    font-size: 16px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeDown 2s forwards;

    text-align: center; 
}
#b2 {
    width: 150px;
    position: absolute;
    left:700px;
    font-family: 'Poppins', sans-serif;
    background-color: #A0153E;
    color: white;
    font-size: 16px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeDown 2s forwards;

    text-align: center; 
}
#b3 {
    width: 150px;
    position: absolute;
    left:900px;
    font-family: 'Poppins', sans-serif;
    background-color: #A0153E;
    color: white;
    font-size: 16px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeDown 2s forwards;

    text-align: center; 
}


#recent {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    padding: 40px;
    height: 400px;
    width: 50%;
    text-align: left; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 250px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    animation: fadeDown 2s forwards;
}

#recent p {
    margin-top: 0; 
    margin-left: 0; 
}

#quote1{
    background: linear-gradient(45deg, #FF204E, rgb(255, 184, 184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin: 0;

    width: 35%; 
    position: absolute;
    top: 300px;
    left:63vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    animation: fadeDown 2s forwards;
}


#add_workout{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;

    width: 30%; 
    position: absolute;
    top: 580px;
    left:900px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    animation: fadeDown 2s forwards;
}

#goals {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    padding: 40px;
    height: 400px;
    width: 50%;
    text-align: left; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 250px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    animation: fadeDown 2s forwards;
}

#goals p {
    margin-top: 0;
    margin-left: 0; 
}

#add_goals{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;

    width: 30%; 
    position: absolute;
    top: 580px;
    left:900px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    animation: fadeDown 2s forwards;
}

#quote2{
    background: linear-gradient(45deg, #FF204E, rgb(255, 184, 184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin: 0;

    width: 35%; 
    position: absolute;
    top: 300px;
    left:63vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    animation: fadeDown 2s forwards;
}


#nutrition {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    padding: 40px;
    height: 400px;
    width: 50%;
    text-align: left; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 250px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    animation: fadeDown 2s forwards;
}

#nutrition p {
    margin-top: 0;
    margin-left: 0; 
}

#add_food{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;

    width: 30%; 
    position: absolute;
    top: 580px;
    left:900px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    animation: fadeDown 2s forwards;
}

#quote3{
    background: linear-gradient(45deg, #FF204E, rgb(255, 184, 184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin: 0;

    width: 35%; 
    position: absolute;
    top: 300px;
    left:63vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    animation: fadeDown 2s forwards;
}