body{
    background-color: #00224D;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    width: 100%;
    position: relative;
    z-index: -2;
}

#topbar{
    display:flex;
    align-items: center;
    color: white;
    background: linear-gradient(180deg, #FF204E, #00224D);
    height: 100px;
    padding: 0 20px; 
    position: static;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0 20px;
    opacity: 0;
    animation: fadeDown 4s forwards;
    font-family:'Poppins', sans-serif;
    z-index:100;
    text-align: center;
}

#title_company{
    position: relative;
    left:10px;
}

#about-us {
    position: relative;
    left: 1450px; 
    color: white; 
}

#about-us a {
    color: white; 
    text-decoration: none; 
}

#about-us a:hover {
    text-decoration: underline; 
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

#profile {
    width: 400px;
    position: relative;
    left: 30px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-family: 'Poppins', sans-serif;
    z-index: 10;
    animation: fadeDown 2s forwards;
}

#profile-photo {
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    margin-right: 20px;
    object-fit: cover; 
}

#profile-content {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    font-size: 24px;
    font-weight: 600;
}

#username {
    margin: 0; 
    margin-top: 5px; 
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#username a {
    color: white; 
    text-decoration: none; 
}

#username a:hover {
    text-decoration: underline; 
}

#signout {
    margin-top: 5px; 
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#signout:hover {
    text-decoration: underline; 
}




#recent {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    padding: 40px;
    height: 400px;
    width: 50%;
    text-align: left; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 250px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    animation: fadeDown 2s forwards;
}

#recent p {
    margin-top: 0; 
    margin-left: 0; 
}

#quote1{
    background: linear-gradient(45deg, #FF204E, rgb(255, 184, 184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin: 0;

    width: 35%; 
    position: absolute;
    top: 300px;
    left:63vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    animation: fadeDown 2s forwards;
}

#b1 {
    width: 150px;
    position: relative;
    top: 350px;
    left:1450px;
    font-family: 'Poppins', sans-serif;
    background-color: #A0153E;
    color: white;
    font-size: 16px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeDown 2s forwards;

    text-align: center; 
}

#goals {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    padding: 40px;
    height: 400px;
    width: 50%;
    text-align: left; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 800px;
    left: 820px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    animation: fadeDown 2s forwards;
}

#goals p {
    margin-top: 0;
    margin-left: 0; 
}

#b2 {
    width: 150px;
    position: relative;
    top: 900px;
    left: 260px;
    font-family: 'Poppins', sans-serif;
    background-color: #A0153E;
    color: white;
    font-size: 16px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeDown 2s forwards;

    text-align: center; 
}

#quote2{
    background: linear-gradient(45deg, #FF204E, rgb(255, 184, 184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin: 0;

    width: 35%; 
    position: absolute;
    top: 850px;
    left: 30px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    animation: fadeDown 2s forwards;
}


#nutrition {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    padding: 40px;
    height: 400px;
    width: 50%;
    text-align: left; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 1350px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    animation: fadeDown 2s forwards;
}

#nutrition p {
    margin-top: 0;
    margin-left: 0; 
}

#b3 {
    width: 150px;
    position: relative;
    top: 1400px;
    left: 1450px;
    font-family: 'Poppins', sans-serif;
    background-color: #A0153E;
    color: white;
    font-size: 16px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeDown 2s forwards;

    text-align: center; 
}

#quote3{
    background: linear-gradient(45deg, #FF204E, rgb(255, 184, 184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin: 0;

    width: 35%; 
    position: absolute;
    top: 1400px;
    left:63vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    animation: fadeDown 2s forwards;
}

#footer {
    position: relative; 
    top:1900px;
    background-color: #404040;
    color: white;
    height: 150px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: auto; 
}

#foot-content { 
    text-align: center;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.social-icons i { 
    margin-right: 5px; 
}

.social-icons a:hover {
    text-decoration: underline;
    color: #FF204E; 
}
.social-icons {
    margin-top: 20px; 
}


#about-section {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    border-radius: 10px;
    padding: 40px;
    margin: 20px auto; 
    max-width: 800px; 
    text-align: left; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    animation: fadeDown 2s forwards;
}

.about_detail {
    font-size: 16px;
    margin-bottom: 20px; 
}

